<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Hansoft Web Summary</a>
    </div>
    <div class="collapse navbar-collapse">
        <form class="nav navbar-form navbar-left" role="form">
            <div class="divider"></div>
            <div class="form-header">
                <span><i class="glyphicon glyphicon-filter"></i> </span>
            </div>

            <div class="form-group content-separator-right">
                <label class="filter-item label label-default" for="completed"
                       ng-class="{true: 'label-success', false: 'label-default'}[dashboard.showCompleted]">
                    Include completed:
                </label>
                <input type="checkbox" id="completed" name="completed" class="checkbox checkbox-inline"
                       ng-model="dashboard.showCompleted"
                       ng-checked="dashboard.showCompleted">
            </div>

            <div class="form-header"><span>Statuses:</span></div>
            <div class="form-group">
                <label class="filter-item label" for="onTrack"
                       ng-class="{true: 'label-success', false: 'label-default'}[dashboard.statusFilter.onTrack === 'On track']">
                    On Track:
                </label>
                <input type="checkbox" id="onTrack" name="onTrack"
                       ng-model="dashboard.statusFilter.onTrack"
                       ng-checked="dashboard.statusFilter.onTrack"
                       ng-true-value="{{dashboard.predictionStatus.onTrack}}" />

                <label class="filter-item label label-default" for="warning"
                       ng-class="{true: 'label-success', false: 'label-default'}[dashboard.statusFilter.warning === 'Warning']">
                    Warning:
                </label>
                <input type="checkbox" id="warning" name="warning"
                       ng-model="dashboard.statusFilter.warning"
                       ng-checked="dashboard.statusFilter.warning"
                       ng-true-value="{{dashboard.predictionStatus.warning}}" />

                <label class="filter-item label label-default" for="offTrack"
                       ng-class="{true: 'label-success', false: 'label-default'}[dashboard.statusFilter.offTrack === 'Off track']">
                    Off track:
                </label>
                <input type="checkbox" id="offTrack" name="offTrack"
                       ng-model="dashboard.statusFilter.offTrack"
                       ng-checked="dashboard.statusFilter.offTrack"
                       ng-true-value="{{dashboard.predictionStatus.offTrack}}" />

            </div>

        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" data-toggle="modal" data-target="#about" data-backdrop="true" data-keyboard="true">About</a>
            </li>
        </ul>
        <p class="navbar-text navbar-right">Last updated: <em>{{dashboard.lastUpdated}}</em></p>
    </div>
</div>

<div id="about" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">x</a>
                <h3>About Hansoft Web Summary</h3>
            </div>
            <div class="modal-body">
                <p>Version {{dashboard.version}}</p>
            </div>
            <div class="modal-footer">
                <p>Hansoft Web Summary is built on the Eye platform by FindOut Technologies</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>