<!doctype html>
<html lang="en" ng-app="goji-admin">
<head>
    <meta charset="utf-8">
    <title>Goji admin</title>
    <link rel="stylesheet" href="components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="components/bootstrap-css/js/bootstrap.js"></script>
    <script type="text/javascript" src="components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="components/jspdf/dist/jspdf.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/order/orderController.js"></script>
    <script type="text/javascript" src="js/order/showOrderedProductsFilter.js"></script>
    <script type="text/javascript" src="js/order/pdfFactory.js"></script>
    <script type="text/javascript" src="js/order/ftpFactory.js"></script>
    <script type="text/javascript" src="js/product/productController.js"></script>
    <script type="text/javascript" src="config.js"></script>
</head>
<body class="container">

<form ng-submit="processForm()" ng-controller="ProductCtrl">
    <!-- NAME -->
    <div id="name-group" class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="formData.name">
        <span class="help-block"></span>
    </div>

    <!-- NUMBER -->
    <div id="name-group" class="form-group">
        <label>Number</label>
        <input type="number" name="number" class="form-control" ng-model="formData.number">
        <span class="help-block"></span>
    </div>

    <!-- sweName -->
    <div id="name-group" class="form-group">
        <label>Swename</label>
        <input type="text" name="sweName" class="form-control" ng-model="formData.sweName">
        <span class="help-block"></span>
    </div>

    <!-- suggestedOrderAmount -->
    <div id="name-group" class="form-group">
        <label>Suggested Order Amount</label>
        <input type="text" name="suggestedOrderAmount" class="form-control" ng-model="formData.suggestedOrderAmount">
        <span class="help-block"></span>
    </div>

    <!-- bag size -->
    <div id="name-group" class="form-group">
        <label>Bag size</label>
        <input type="number" name="bagSize" class="form-control" ng-model="formData.bagSize">
        <span class="help-block"></span>
    </div>

    <!-- actualOrderAmount -->
    <div id="name-group" class="form-group">
        <label>Actual Order Amount</label>
        <input type="number" name="actualOrderAmount" class="form-control" ng-model="formData.actualOrderAmount">
        <span class="help-block"></span>
    </div>

    <!-- SUBMIT BUTTON -->
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit" />


</form>

</body>
</html>