<!doctype html>
<html lang="en" ng-app="goji-admin">
<head>
    <meta charset="utf-8">
    <title>Goji admin</title>
    <link rel="stylesheet" href="components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="components/bootstrap-css/js/bootstrap.js"></script>
    <script type="text/javascript" src="components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="components/jspdf/dist/jspdf.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/order/orderController.js"></script>
    <script type="text/javascript" src="js/order/showOrderedProductsFilter.js"></script>
    <script type="text/javascript" src="js/order/pdfFactory.js"></script>
    <script type="text/javascript" src="js/order/ftpFactory.js"></script>
    <script type="text/javascript" src="js/product/productController.js"></script>
    <script type="text/javascript" src="config.js"></script>
</head>
<body class="container" ng-controller="ProductCtrl as ctrl">

<div class="well">
    <form class="css-form" role="form" name="form" novalidate>
        <!-- NAME -->
        <div id="name-group" class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="formData.name" required>
            <span class="help-block"></span>
        </div>

        <!-- NUMBER -->
        <div id="name-group" class="form-group">
            <label>Number</label>
            <input type="number" name="number" class="form-control" ng-model="formData.number" required>
            <span class="help-block"></span>
        </div>

        <!-- sweName -->
        <div id="name-group" class="form-group">
            <label>Swename</label>
            <input type="text" name="sweName" class="form-control" ng-model="formData.sweName" required>
            <span class="help-block"></span>
        </div>

        <!-- suggestedOrderAmount -->
        <div id="name-group" class="form-group">
            <label>Suggested Order Amount</label>
            <input type="number" name="suggestedOrderAmount" class="form-control" ng-model="formData.suggestedOrderAmount" required>
            <span class="help-block"></span>
        </div>

        <!-- bag size -->
        <div id="name-group" class="form-group">
            <label>Bag size</label>
            <input type="number" name="bagSize" class="form-control" ng-model="formData.bagSize" required>
            <span class="help-block"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success" ng-click="ctrl.createProduct()" ng-disabled="form.$invalid">Create Product</button>


    </form>
</div>

<div class="alert alert-success alert-dismissable alert-message" ng-show="showAlertMessage" >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    New Product Created
</div>

</body>
</html>