<!doctype html>
<html lang="en" ng-app="goji-admin">
<head>
    <meta charset="utf-8">
    <title>Goji admin</title>
    <link rel="stylesheet" href="components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="components/bootstrap-css/js/bootstrap.js"></script>
    <script type="text/javascript" src="components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/order/manageOrderController.js"></script>
    <script type="text/javascript" src="config.js"></script>
</head>
<body ng-controller="ManageOrderController as orderCtrl">
<div class="container">
    <!-- Button trigger modal -->
    <button class="btn btn-success create-order" data-toggle="modal" data-target="#createOrder">
        Create order
    </button>
    <div class="modal fade" id="createOrder" ng-include="'templates/create-order.html'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    <div class="well" ng-repeat="order in orderCtrl.orders">
        <h3>{{order.name}}

            <button class="btn btn-danger pull-right" data-toggle="modal" ng-click="orderCtrl.deleteOrder(order)">
                Delete order
            </button>
        </h3>
        <!-- Button trigger modal -->
        <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
            Create order item
        </button>

        <div class="modal fade" id="myModal" ng-include="'templates/create-orderItem.html'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div>
        <table class='table table-striped'>
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Amount</th>
                <th> </th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='orderItem in order.orderItems'>
                <td>{{orderItem.number}}</td>
                <td>{{orderItem.name}}</td>
                <td>{{orderItem.actualOrderAmount}}</td>
                <td><button role='button' class='btn btn-danger' ng-click="orderCtrl.deleteOrderItem(order, orderItem.number)">Delete</button></td>
            </tr>
            </tbody>
        </table>


    </div>
    </div>
</div>
</body>
</html>