<!-- Modal -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create New Order</h4>
        </div>
        <div class="container">
            <form>
                <!-- NAME -->
                <div id="name-group" class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="order.name">
                    <span class="help-block"></span>
                </div>

                <!-- SUBMIT BUTTON -->
                <button type='submit' class="btn btn-success btn-lg btn-block" data-dismiss="modal" ng-click="orderCtrl.createOrder(order.name)">Create</button>
            </form>
        </div>
    </div>
</div>
