.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-order {
    margin-bottom: 20px;
}

.table > tbody > tr > td.red {
    background-color: red;
}

.table > tbody > tr > td.yellow {
    background-color: #ffff00;
}
